ptpython==0.41
ipython==6.2.1
jupyter==1.0.0
jupyterlab==0.31.12
nltk==3.2.5
numpy==1.14.1
scipy==1.0.0
matplotlib==2.2.0
scikit-learn==0.19.1
pandas==0.22.0
plotly==2.4.1
tensorflow==1.6.0
jupyter-tensorboard==0.1.5
gym==0.10.3
Pillow==5.0.0
requests-html==0.8.1
gensim==3.4.0
