<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Application</title>

    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="all"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Tiny URL</h3>
        </div>
        <div class="col-md-12">
            <form id="tiny-url-form">
                <div class="form-group">
                    <label for="originalURL">Original URL</label>
                    <input type="text" class="form-control" id="originalURL"/>
                </div>
                <button type="button" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-12">
            <h3>url: <span id="result"></span></h3>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/static/js/main.js" type="application/javascript"></script>
</div>
</body>
</html>