html
    head
        title App
    body
        h1 Server: #{cluster}

        div#create-user-panel
            h3 Create user
            input#create-user-panel__id(type="text" placeholder="your id")
            input#create-user-panel__name(type="text" placeholder="your name")
            button(type="button" onclick="window.createUser()") Create

        div#chat-panel(style={ display: "none" })
            h3 Chat
            div#chat-panel__content
            input#chat-panel__to(type="text" placeholder="to")
            input#chat-panel__message(type="text" placeholder="message")
            button(type="button" onclick="window.sendMessage()") Send

        script
            include script.js